
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes slide-up {
    from {
        opacity: 0.1;
        line-height: 75px;
    }

    to {
        opacity: 1;

        line-height: 30px;
    }
}
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');


header {
    background-color: #d64c7f;

}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

nav img {
    margin-top: 20px;
    width: 275px;
}


.navbar {
    background-color: black;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    margin-right: 15%;
}


.nav-branding {
    font-size: 2rem;
    margin-left: 3%;
}

.nav-item {
    font-size: 20px;
    font-family: 'Dosis', sans-serif;
}

.nav-link {
    transition: 0.7s ease;
}

.nav-link:hover {
    color:#d64c7f;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}
a {
    color: white;
}
.fund-the-future-container {
    background-color: black;
}


.fund-the-future {
    font-family: 'Dosis', sans-serif;
    text-align: center;
    color: white;
    font-size: 60px;
    padding-top: 50px;
}

.fund-the-future-content-container {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
}

.FFimage {
    display: block;
    margin: 0 auto;
    height: 150px;
    padding-top: 40px;
}

.FFtext {
    font-family: 'Dosis', sans-serif;
    text-align: justify;
    text-justify: inter-word;
    color: white;
    font-size: 24px;
    margin-left: 220px;
    margin-right: 220px;
    margin-top: 20px;
    padding-bottom: 5px;
}

.centeredFFtext {
    font-family: 'Dosis', sans-serif;
    text-align: center;
    color: white;
    font-size: 28px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    padding-bottom: 20px;
}

.votenowbox {
    display: block;
    margin: 0 auto;
    background-color: black;
    height: 100px;
    width: 250px;
    color: white;
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 40px;
    border-radius: 24px;
    border: solid white 6px;
    transition: 0.7s ease;
}

.votenowbox:hover {
    background-color: #d64c7f;
}

.footer-container {
    background-color: black;
    border-top: white, 28px;
}

h1 {
    padding-top: 80px;
    font-size: 34px;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    padding-top: 40px;
    color: white;

}


.social-icon {
    list-style: none;
    margin: 60px 180px;
    display: inline-block;
    font-size: 50px;
    padding: 110px 110px;
    color: white;
    transition: 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5)
}

@media (max-width:1260px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }    
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 115px;
        gap: 1em;
        flex-direction: column;
        background-color: black;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        border-bottom: solid white;
    }

    .nav-branding {
        margin-left: 0%;
    }
    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active{
        left: 0;
    }

    .fund-the-future-container {
        background-color: black;
    }
    
    
    .fund-the-future {
        font-family: 'Dosis', sans-serif;
        text-align: center;
        color: white;
        font-size: 45px;
        padding-top: 50px;
    }
    
    .fund-the-future-content-container {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 10px;
    }
    
    .FFimage {
        display: block;
        margin: 0 auto;
        height: 150px;
        padding-top: 40px;
    }
    
    .FFtext {
        font-family: 'Dosis', sans-serif;
        text-align: justify;
        text-justify: inter-word;
        color: white;
        font-size: 26px;
        margin-left: 110px;
        margin-right: 110px;
        margin-top: 20px;
        padding-bottom: 5px;
    }
    
    .centeredFFtext {
        font-family: 'Dosis', sans-serif;
        text-align: center;
        color: white;
        font-size: 28px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        padding-bottom: 20px;
    }
    
    .votenowbox {
        display: block;
        margin: 0 auto;
        background-color: black;
        height: 100px;
        width: 250px;
        color: white;
        font-family: 'Dosis', sans-serif;
        font-size: 30px;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-bottom: 40px;
        border-radius: 24px;
        border: solid white 6px;
        transition: 0.7s ease;
    }
    
    .votenowbox:hover {
        background-color: #d64c7f;
    }
    
    .footer-container {
        background-color: black;
        border-top: black, 28px;
    }
    
    h1 {
        padding-top: 80px;
        font-size: 34px;
        font-family: 'Dosis', sans-serif;
        text-align: center;
        padding-top: 40px;
        color: black;
    
    }
    
    .social-icon {
        list-style: none;
        margin: 1px 1px;
        display: inline-block;
        font-size: 45px;
        padding: 100px 105px;
        color: white;
        transition: 0.3s ease;
    }
    
    .social-icon:hover {
        transform: scale(1.5);
        -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5)
    }
}

@media (max-width:390px) {

    .fund-the-future-container {
        background-color: black;
    }
    
    
    .fund-the-future {
        font-family: 'Dosis', sans-serif;
        text-align: center;
        color: white;
        font-size: 30px;
        padding-top: 50px;
    }
    
    .fund-the-future-content-container {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 10px;
    }
    
    .FFimage {
        display: block;
        margin: 0 auto;
        height: 120px;
        padding-top: 40px;
    }
    
    .FFtext {
        font-family: 'Dosis', sans-serif;
        text-align: justify;
        text-justify: inter-word;
        color: white;
        font-size: 20px;
        margin-left: 55px;
        margin-right: 55px;
        margin-top: 20px;
        padding-bottom: 5px;
    }
    
    .centeredFFtext {
        font-family: 'Dosis', sans-serif;
        text-align: center;
        color: white;
        font-size: 24px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        padding-bottom: 20px;
    }
    
    .votenowbox {
        display: block;
        margin: 0 auto;
        background-color: black;
        height: 100px;
        width: 250px;
        color: white;
        font-family: 'Dosis', sans-serif;
        font-size: 30px;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-bottom: 40px;
        border-radius: 24px;
        border: solid white 3px;
        transition: 0.7s ease;
    }
    
    .votenowbox:hover {
        background-color: #d64c7f;
    }
    
    .footer-container {
        background-color: black;
        border-top: black, 28px;
    }
    
    h1 {
        padding-top: 80px;
        font-size: 34px;
        font-family: 'Dosis', sans-serif;
        text-align: center;
        padding-top: 40px;
        color: black;
    
    }
    
    .social-icon {
        list-style: none;
        margin: 1px 1px;
        display: inline-block;
        font-size: 30px;
        padding: 45px 45px;
        color: white;
        transition: 0.3s ease;
    }
    
    .social-icon:hover {
        transform: scale(1.5);
        -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5)
    }
}
